<h1>Recipe Cards</h1>
<h2>a social website for home cooks</h2>
<div class="container">
  <%= form_with(scope: :session, url: login_path, method: :post, remote: true) do |form| %>
    <div class="card">
      <div class="card-header">
        <p class="card-title">Log In</p>
      </div>
      <div class="card-body">
        <%= form.label 'Email:' %>
        <%= form.email_field :email, placeholder: 'name@example.com' %>
        <%= form.label 'Password:' %>
        <%= form.password_field :password, placeholder: 'password' %>
        <%= form.label :remember_me do %>
          <%= form.check_box :remember_me %>
          <span>Stay logged in on this computer</span>
        <% end %>
        <%= link_to "Forgot Password?", new_password_reset_path, class: 'blue-link' %>
        <div class="spacer"></div>
        <%= link_to 'No account?', signup_url, class: 'blue-link', title: 'Sign Up' %>
        <div class="actions">
          <%= form.submit 'Log In' %>
        </div>
      </div>
    </div>
  <% end %>
</div>