<div class="recipe <%= recipe.genre_class %>">
  <div class="recipe-header">
    <%= image_tag asset_path("genres/#{recipe.genre}.png"), alt: recipe.genre, title: recipe.genre, class: 'genre-icon' %>
    <%= button_to 'Like', toggle_liked_recipe_url(recipe), remote: true, class: "like-icon #{liked_by_current_user?(recipe) ? 'heart-closed' : 'heart-open'}"  %>
    <%= link_to recipe.title, recipe, class: 'recipe-title white-link' %>
    <div class="spacer"></div>
    <%= link_to recipe.owner.name, recipe.owner, class: 'recipe-author white-link' %>
    <% if recipe.owner.name != recipe.source %>
      <p class="recipe-author"><%= recipe.source %></p>
    <% end %>
  </div>
  <div class="recipe-body">
    <div class="left-side">
      <% if recipe.servings > 0 %>
        <p><i>Serves <%= recipe.servings %>.</i></p>
      <% end %>
      <% if recipe.time_hours > 0 or recipe.time_minutes > 0 %>
        <p><i>Takes about <%= distance_of_time_in_words(60 * recipe.time_minutes + 3600 * recipe.time_hours)  %>.</i></p>
      <% end %>
      <ul class="ingredients">
        <% recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ul>
    </div>
    <div class="right-side">
      <%= simple_format(recipe.instructions) %>
    </div>
    <div class="clear"></div>
    <% if current_user == recipe.owner %>
      <%= link_to 'Edit Recipe', edit_recipe_path(recipe), class: 'blue-link', title: 'Edit Recipe' %>
    <% end %>
  </div>
</div>