<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="card alert alert-danger">
      <%= pluralize(user.errors.count, "error") %>:
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <!-- Show 'delete' button for user if exists and current user is admin -->
      <% if not User.where(id: user.id).empty? and logged_in? and current_user.admin? %>
        <%= link_to @user, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: 'delete-button' do %>
          <%= image_tag asset_path('delete.png'), alt: 'Delete Recipe', title: 'Delete Recipe' %>
        <% end %>
      <% end %>

      <p class="card-title"><%= title %></p>
    </div>
    <div class="card-body">
      <%= form.label 'Full Name:' %>
      <%= form.text_field :name, placeholder: 'Cauli Flower' %>
      <%= form.label 'Email:' %>
      <%= form.email_field :email, placeholder: 'cauli@soup.veg' %>
      <%= form.label 'Password:' %>
      <%= form.password_field :password, placeholder: 'make it a good one' %>
      <% if logged_in? and current_user.admin? %>
        <%= form.label :admin do %>
          <%= form.check_box :admin %>
          <span>Make this user an admin</span>
        <% end %>
      <%end %>
      <div class="actions">
        <%= form.submit title %>
      </div>
    </div>
  </div>
<% end %>
