<div class="card">
  <div class="card-header">
    <% if user == current_user or current_user.admin? %>
      <%= link_to edit_user_path(user), class: 'edit-button' do %>
        <%= image_tag asset_path('edit.png'), alt: 'Edit Profile', title: 'Edit Profile' %>
      <% end %>
    <% end %>
    <%= link_to user.name, user, class: 'card-title white-link' %>
  </div>
  <div class="card-body">
    <div class="small-spacer"></div>
    <%= mail_to user.email, user.email, class: 'blue-link' %>
    <p>This user has <%= pluralize(user.recipes.count, 'recipe') %>. <%= link_to 'View', user, class: 'blue-link' %></p> 
    <% if current_user.admin? and user.admin? %>
      <p>This user has administrator rights.</p>
    <% end %>
  </div>
</div>