<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink="true">
    <header>
      <div class="container">
        <div class="row">
          <p class="logo"><%= link_to 'Recipe Cards', root_url %></p>
          <% if logged_in? %>
            <button class="nav-button with-image right visible-xxs dropdown">
              <%= image_tag asset_path('sandwich.png'), alt: 'Menu', title: 'Menu' %>
              <div class="dropdown-content">
                <%= link_to 'Browse Recipes', recipes_path %>
                <%= link_to 'Cooks', users_path %>
                <%= link_to 'Saved Recipes', saved_recipes_path %>
                <%= link_to 'My Recipes', current_user %>
                <%= link_to 'Edit Profile', edit_user_path(current_user) %>
                <%= link_to 'Log Out', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
              </div>
            </button>

            <button class="nav-button right hidden-xxs dropdown">
              <%= link_to current_user.initials, current_user, title: current_user.name %>
              <div class="dropdown-content">
                <%= link_to 'Saved Recipes', saved_recipes_path %>
                <%= link_to 'My Recipes', current_user %>
                <%= link_to 'Edit Profile', edit_user_path(current_user) %>
                <%= link_to 'Log Out', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
              </div>
            </button>

            <nav class="hidden-xxs">
              <%= link_to 'Browse Recipes', recipes_path %><%= link_to 'Cooks', users_path %>
            </nav>

            <%= link_to new_recipe_path, class: 'nav-button with-image right' do %>
              <%= image_tag asset_path('add.png'), alt: 'New Recipe', title: 'New Recipe' %>
            <% end %>
          <% else %>
            <nav>
              <%= link_to 'Sign Up', signup_path %><%= link_to 'Log In', login_path %>
            </nav>
          <% end %>
        </div>
        
      </div>
      <div class="clear"></div>
    </header>

    <% if @recipes %>
      <div id="search-bar">
        <div class="container">
          <div class="row">
            <%= form_with url: recipes_path, method: 'get', id: 'search_form' do |form| %>
              <div class="pretty-dropdown genre-filter">
                <%= form.select :genre, Recipe.genres, { include_blank: 'all genres' } %>
              </div>
              <%= hidden_field_tag :user, @user.id.to_s unless @user.nil? %>
              <%= hidden_field_tag :saver, @recipe_saver.id.to_s unless @recipe_saver.nil? %>
              <div class="recipe-search">
                <%= form.text_field :search, value: params[:search], class: 'search-box' %>
                <%= form.submit '', name: nil, title: 'Search', class: 'search-button' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>

    <div id="top-spacer" class="spacer"></div>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="row">
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <p class="logo">A Website by <a class="white-link" href="https://github.com/devthered">Devin Reed</a></p>
          <p class="credit">
          Genre icons by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a>, under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> license.</p>
        </div>
      </div>
      <div class="clear"></div>
    </footer>

  </body>

  <%= javascript_include_tag 'pretty-dropdowns.js' %>
  <%= javascript_include_tag 'pretty-textareas.js' %>
  <%= javascript_include_tag 'recipe-search.js' %>

</html>
