<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink="true">
    <%= yield %>

    <footer>
      <div class="header-container">
        <div class="header-row">
          <h3><a href="https://github.com/devthered">A Website by Devin Reed</a></h3>
          <div class="clear"></div>
        </div>
      </div>
    </footer>

  </body>

  <%= javascript_include_tag 'pretty-dropdowns.js' %>
  <%= javascript_include_tag 'pretty-textareas.js' %>

</html>
