<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink="true">
    <header>
      <div class="header-container">
        <div class="header-row">
          <h1><%= link_to 'Recipe Cards', root_url %></h1>
          <% if logged_in? %>
            <%= link_to logout_path, method: :delete, class: 'nav-button' do %>
              <%= image_tag asset_path('delete.png'), alt: 'Log Out', title: 'Log Out' %>
            <% end %>
            <% if @recipes %>
              <%= link_to new_recipe_path, class: 'nav-button' do %>
                <%= image_tag asset_path('add.png'), alt: 'New Recipe', title: 'New Recipe' %>
              <% end %>
              <%= form_with url: recipes_path, method: 'get', id: 'search_form', class: 'search-form' do |form| %>
                <div class="pretty-dropdown genre-filter">
                  <%= form.select :genre, Recipe.genres, { include_blank: 'all genres' } %>
                </div>
                <%= hidden_field_tag :user, @user.id.to_s unless @user.nil? %>
                <div class="recipe-search">
                  <%= form.text_field :search, value: params[:search], class: 'search-box' %>
                  <%= form.submit '', name: nil, title: 'Search', class: 'search-button' %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <nav>
              <%= link_to 'Sign Up', signup_path %> | 
              <%= link_to 'Log In', login_path %>
            </nav>
          <% end %>
        </div>
      </div>
    </header>
    
    <div class="header-spacer"></div>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="card alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <div class="header-container">
        <div class="header-row">
          <h3><a href="https://github.com/devthered">A Website by Devin Reed</a></h3>
          <div class="clear"></div>
        </div>
      </div>
    </footer>

  </body>

  <%= javascript_include_tag 'pretty-dropdowns.js' %>
  <%= javascript_include_tag 'pretty-textareas.js' %>
  <%= javascript_include_tag 'recipe-search.js' %>

</html>
