<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink="true">
    <%= yield %>
  </body>

  <%= javascript_include_tag 'pretty-dropdowns.js' %>
  <%= javascript_include_tag 'pretty-textareas.js' %>

</html>
