<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <div class="header-container">
        <div class="header-row">
          <div class="header-col">
            <%= text_field_tag 'search', '', class: 'recipe-search' %>
          </div>
          <div class="header-col">
            <h1>Recipe Cards</h1>
          </div>
          <div class="header-col">
            <%= select_tag "genre", options_for_select(['all genres'] + Recipe.genres, 'all genres'), class: 'genre-filter' %>
          </div>

        </div>
      </div>


      
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      
    </footer>

  </body>
</html>
